@media(max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 32px;


        &__head {
            font-size: 32px;
            text-align: center;
        }

        &__text {
            font-size: 14px;
            text-align: center;
        }
    }

    .game {
        padding-bottom: 128px;

        &__number {
            width: 343px;
        }
    }

    .firstGame {
        padding-top: 51px;
        display: flex;
        flex-direction: column;
        gap: 64px;
        padding-bottom: 85px;

        &__left {
            align-items: center;
        }


        &__head {
            font-size: 32px;

            &_off {
                display: none;
            }
        }

        &__text {
            font-size: 14px;
            line-height: 22px;
            text-align: center;
        }

        &__img {
            width: 344px;
            height: 236px;
        }
    }

    .secondGame {
        padding-top: 51px;
        display: flex;
        flex-direction: column-reverse;
        gap: 64px;
        padding-bottom: 90px;

        &__right {
            align-items: center;
        }

        &__img {
            width: 344px;
            height: 236px;
        }
    }
}