* {
    margin: 0;
    padding: 0;
}



body {
    font-family: "Montserrat", sans-serif;
}

.center {
    padding-left: 120px;
    padding-right: 120px;
}

.header {
    background-image: url(img/bgimg.png);
    height: 1024px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__head {
        color: #FFF;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-top: 217px;
        padding-bottom: 32px;
        max-width: 788px;
        min-height: 125px;
    }

    &__text {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
        padding-bottom: 44px;
        max-width: 481px;
        min-height: 64px;

        &_bold {
            font-weight: 700;
            text-decoration: none;
        }
    }

}

.button {
    border-radius: 30px;
    background: #9C0332;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 13px 74px 13px 74px;

    &:hover {
        background: #EB443F;
    }
}

.game {
    background-color: #000915;
    min-height: 556px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;

    &__number {
        border-radius: 16px;
        width: 379px;
        height: 300px;
        color: #FFF;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        padding-left: 32px;
        padding-bottom: 32px;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-sizing: border-box;

        &:hover {
            border: 3px solid #44D2FF;
        }

        &_1 {
            background-image: url(img/game_1.png);
        }

        &_2 {
            background-image: url(img/game_2.png);
        }

        &_3 {
            background-image: url(img/game_3.png);
        }
    }
}

.firstGame {
    height: 800px;
    background-color: #000915;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &__left {
        display: flex;
        gap: 32px;
        align-items: flex-start;
        flex-direction: column;
    }

    &__head {
        color: #FFF;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__text {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
        max-width: 584px;
    }

    &__img {
        width: 485px;
        height: 333px;
    }
}

.secondGame {
    height: 800px;
    background-color: #000915;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;

    &__img {
        height: 322px;
        width: 481px;
    }

    &__right {
        display: flex;
        gap: 32px;
        align-items: flex-start;
        flex-direction: column;
    }
}

@import "mobile";